<div class="row">
  <h1>Progress Bar</h1>
  <div class="progress progress-striped col-xs-12">
    <div class="progress-bar progress1" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      <span>0%</span>
    </div>
  </div>

  <div class="progress progress-striped col-xs-12">
    <div class="progress-bar progress2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      <span>0%</span>
    </div>
  </div>

  <div class="progress progress-striped col-xs-12">
    <div class="progress-bar progress3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      <span>0%</span>
    </div>
  </div>
  <form class="form-inline">  
      <div class="col-xs-12 progress-actions">
          <div class="row">
              <div class='col-xs-12 col-sm-2'>
                  <select class='progress-list '>
                      <option value="1">#progress1</option>
                      <option value="2">#progress2</option>
                      <option value="3">#progress3</option>
                  </select>
              </div>

              <div class='col-xs-12 col-sm-4'>
                  <button type="button" data-value='-25' class="btn btn-default change-progress ">
                    -25
                  </button>
                  <button type="button" data-value='-10' class="btn btn-default change-progress ">
                    -10
                  </button>
                  <button type="button" data-value='10' class="btn btn-default change-progress ">
                    +10
                  </button>
                  <button type="button" data-value='25' class="btn btn-default change-progress ">
                    +25
                  </button>
              </div>
              
          </div>
      </div>
  </form>


</div>